.flex {
  display: flex;
  justify-content: center;
}

.gallery {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(282px, 2fr));

  gap: 21px 17px;
  max-width: 880px;
  margin-inline: auto;
  width: 100%;
  font-size: 0;
}

.gallery__card {
  max-width: 283px;
  width: 100%;
}

.gallery__card-img {
  max-width: 282px;
  width: 100%;
  height: 100%;
  max-height: 282px;
  border-radius: 10px 10px 0 0;
}

.gallery__card-footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 25px 15px;
  border-radius: 0 0 10px 10px;
  max-width: 282px;
}

.gallery__card-subtitle {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__card-btn {
  border: 0;
  outline: none;
  padding: 0;
  /* background-clip: text; */
  background-color: transparent;
  cursor: pointer;
}

.gallery__card-btn:hover {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .gallery {
  }
}

@media (max-width: 880px) {
  .gallery {
    max-width: 564px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0 auto;
  }
}
