.flex {
  display: flex;
  justify-content: center;
}

.gallery {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(282px, 2fr));

  gap: 21px 17px;
  max-width: 880px;
  margin-inline: auto;
  width: 100%;
  font-size: 0;
}

.gallery__card {
  max-width: 283px;
  width: 100%;
}

.gallery__card-img {
  max-width: 282px;
  width: 100%;
  height: 100%;
  max-height: 282px;
  border-radius: 10px 10px 0 0;
}

.gallery__card-footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 25px 15px;
  border-radius: 0 0 10px 10px;
  max-width: 282px;
}

.gallery__card-subtitle {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__card-btn-blck {
  border: 0;
  background-image: url(../images/vectors/blck-heart.svg);
  margin-top: 5px;
  padding-right: 21px;
  padding-bottom: 2px;
  width: 21px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: white;
}

.gallery__card-btn {
  border: 0;
  background-image: url(../images/vectors/like-btn.svg);
  cursor: pointer;
  margin-top: 5px;
  padding-right: 22px;
  padding-bottom: 2px;
  width: 21px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.gallery__card-btn:hover {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .gallery {
    max-width: 580px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0 auto;
  }
}

@media (max-width: 780px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  }
}
