.header {
  max-width: 880px;
  width: 100%;
  margin-inline: auto;
}

.header__logo {
  margin: 45px 0 40px;
  padding-bottom: 42px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  max-width: 1280px;
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 780px;
  }
}
